<div class="center">
    <div class="row">
        <div class="content">
            <div class="left">
                <h1>desarrollo con dedicacion aplicaciones y sitios web para personas</h1>
                <p>Constantemente me encuento aprendiedo nuevas tecnologias y desarrollado aplicaciones por placer. Esta web la construi viendo clases de Python y Flask para aumentar mis conocimientos y quiero conocer mas este mundo.</p>
            </div>
            <div class="right">lele</div>
        </div>
    </div>
</div>