body {
    background-color: #eee;
    width: 200px;

}

.flex {
    display: flex;
    flex-flow: row wrap; 
    height: 200px;

}
.red {
    background-color: red;
}

.primero{
    flex-grow: 1;/*Esta funcion hace que el contenido crezca dinamicamente para que use el espacio que tenga*/
    /*El valor predeterminado es 0*/
}

.tercero{
    flex-grow: 2;

}

.segundo{
    flex-grow: 1;
}